footer.main-footer{
  background-color: @gris-cidff;
  min-height: 100px;
}
/* menu bas *******************************************************************/
#block-menu-menu-menu-de-commodit-bas{
  margin: 0 auto;
  display: block;
  float: none;
  & ul.menu li{
    float: left;
    & a{
      color: white;
      &:hover{
        color: @gray-base;
      }
    }
  }
}
/* logos partenaires **********************************************************/
.view-display-id-block_partner1{
  display: table;
  margin: 0 auto;
  & .views-row{
    display: inline-table;
    margin: 5px 5px 0 0;
    vertical-align: bottom;
    
  }
}