img{
  max-width: 100%;
}
.no-content{
  text-indent: -9000px;
  display: block;
}
.main-container{
  padding-top: 20px;
}
h2{
  font-family: "MidietSansLight", arial;
  color: #00A5A7;
}
.node{
  & .contour-orange{
    border: 1px solid @orange-cidff;
  }
  & .contour-opale {
    border: 1px solid @opale-cidff;
  }
  & .contour-gris{
    border: 1px solid @gris-cidff;
  }
}
.atom-align-right{
  margin: 0 0 0 20px;
}
.atom-align-left{
  margin: 0 20px 0 0;
}