.no-marg-padd{
  margin: 0;
  padding: 0;
}
body{
  .no-marg-padd();
  & header#navbar{
    @media (min-width: @screen-sm-min) {
      background: transparent url(../images/fond_top.png) repeat-x 0 0;
    }
  } 
}

#skip-link{
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1000em;
  overflow: hidden; 
}

/*
* Logo et slogan 
*******************************************************************************/
.container {
  & .navbar-header{
    margin-right: inherit;
    margin-left: inherit;
    padding-left: 0;
    float: none;
    #aude{
      color: white;
      display: block;
      background-color: @opale-cidff;
      padding: 4px;
      border-radius: 4px;
      clear: both;
      width: 100px;
      text-align: center;
      font-size: 0.8em;
    }  
    .slogan{
      font-family: @rockwellFamily;
      width: 162px;
      border-top: 1px solid black;
      margin-left: 193px;
      text-align: center;
      @media (max-width: @screen-sm-min) {
        text-align: left;
        margin-left: 120px;
        width: 120px;
      }
    }
    & .col-md-6{
      padding-left: 0;
    }
    @media screen and (max-width: @screen-sm){
      h1{
        margin:0;
      }
    }
  }
  & .navbar-collapse{
    padding-left: 0;  
  }
}
/*
* Menus top
*******************************************************************************/
.region-top-top {
  background: transparent url(../images/fond_top.png) repeat-x 0 0;
  & #block-menu-menu-top-first ul.menu>li.first>a{
    margin-left: -20px;
  }
  & ul.menu{
    @media screen and (max-width: @screen-sm) {
      float: right;
      background-color: white;
      position: absolute;
      top: 30px;
      right: 0%;
      z-index: 9999;
    }
    background-color: @opale-cidff;
    >li{
      &.last{
        @media screen and (max-width: @screen-sm) {
          display: none;
        }
      }
      float: left;
      >a{
        color: white;
        @media screen and (max-width: @screen-sm) {
          color: @gray-base;
        }

        &:hover{
          color: @orange-cidff;
        }
        &:active{
          color: @orange-cidff;
        }
        &.active{
          background-color: @gris-cidff;
        }
      }
    }

  }
  & #block-menu-menu-pros, & #block-menu-menu-commodit-s-haut{
    & ul.menu > li.first a{
      border-left: 2px solid @gris-cidff;
      @media screen and (max-width: @screen-sm) {
        border-left: 0;
      }
    }
  }
}

/*
* Menu principal
*******************************************************************************/

#main-nav{
  clear: both;
  background-color: @orange-cidff;
  height: 46px;
  border-radius: 0 0 6px 6px;
  padding-left: 10px;
  & .navbar-brand{
    display: none;
  }
  & ul.navbar-nav li {
    padding: 0;
    a{
      min-height: 50px;
      display: block;
      padding: 6px 14px 4px 14px;
      font-weight: bold;
      text-align: center;
      margin-top: -1px;
    }
    ul{
      @media screen and (max-width:@screen-sm){
       display: none;
      }
      li a{
        text-align: left;
      }
    }
  }
  & #main-menu-cidff > ul>li>a{
    color: white;
    @media screen and (max-width:@screen-sm){
      color: @gray-base;
      padding: 5px 0;
      background-color: @gray-lighter;
      z-index: 9999;
    }
    &:hover{
      color: @gray-base;
      background-color: #eeeeee;
    }
    &.active, & .dropdown-menu > .active > a{
      color: @gray-base;
      background-color: @gris-cidff;
    }
  }
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: @gris-cidff;
}
ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}
ul.nav li.dropdown ul.dropdown-menu {
  margin-top: 0;
}
/* moteur de recherche ********************************************************/
form#search-block-form{
  margin-top: 20px;
  float: right;
  width: 100%;
  @media screen and (min-width:@screen-sm){
    width: 50%;
  }
}
/* menu actu / agenda *********************************************************/
#block-menu-menu-actu-agenda{
  float: right;
  border-left: 50px solid white;
  padding : 0 10px;
  position: relative;
  top: -1px;
  & ul.menu.nav > li{
    float: left;
    & > a{
      padding: 5px 15px 4px 15px;
      display: block;
      color: white;
      font-weight: bold;
      min-height: 3.55em;
      &:hover{
        color: @gray-base;
      }
      &.active{
        color: @gray-base;
        background: url(../images/white_line.gif) no-repeat 50% 75%;
      }
    }
  } 
}
/* facebook *******************************************************************/
#block-bean-facebook{
  float: right;
  clear: both;
  margin-top: 20px;
  & a.icon-facebook{
    &:hover{
      color: @gray-base;
      text-decoration: none;
    }
  }
}

