.no-marg-padd{
  margin: 0;
  padding: 0;
}
body{
  .no-marg-padd();
  background: transparent url(../images/fond_top.png) repeat-x 0 0;
}

#skip-link{
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1000em;
  overflow: hidden; 
}
/*
* Logo et slogan 
*******************************************************************************/

.container {
  & .navbar-header{
    margin-right: inherit;
    margin-left: inherit;
    padding-left: 0;
    float: none;
    #aude{
      color: white;
      display: block;
      background-color: @opale-cidff;
      padding: 4px;
      border-radius: 4px;
      clear: both;
      width: 100px;
      text-align: center;
      font-size: 0.8em;
    }  
    .slogan{
      font-family: @rockwellFamily;
      width: 162px;
      border-top: 1px solid black;
      margin-left: 193px;
      text-align: center;
      @media (max-width: @screen-sm-min) {
        text-align: left;
        margin-left: 120px;
        width: 120px;
      }
    }
    & .col-md-6{
      padding-left: 0;
    }
  }
  & .navbar-collapse{
    padding-left: 0;  
  }
}
/*
* Menus top
*******************************************************************************/
.region-top-top {
  background: transparent url(../images/fond_top.png) repeat-x 0 0;
  & ul.menu>li>a{
    color: white;
    &:hover{
      color: @gray-base;
    }
  }
}

/*
* Menu principal
*******************************************************************************/

#main-nav{
  clear: both;
  background-color: @orange-cidff;
  height: 46px;
  border-radius: 0 0 6px 6px;
  & ul.navbar-nav li {
    padding: 0;
    & a{
      display: block;
      padding: 13px;
    }
  }
  & > ul>li>a{
    color: white;
    &:hover{
      color: @gray-base;
      background-color: inherit;
    }
  }

}
/* moteur de recherche ********************************************************/
form#search-block-form{
  margin-top: 20px;
  float: right;
  width: 100%;
  @media screen and (min-width:@screen-sm){
    width: 50%;
  }
}

