/* Ressources documentaires ***************************************************/
.node-ressource-documentaire {
  & .image{
  padding-left: 15px;
    & img{
      vertical-align: middle;
      margin-bottom: 6px;
    }
    & a{
      font-size: 1.2em;
    }
  }

}

